.wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding-left: 100px;
    font-family: 'Coming Soon', cursive;

}
.about_person {
    display: flex;

}
.foto {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    border: 2px solid black;
    text-align: center;
}
.about_fio {
    margin-left: 50px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: blue;
}
a:hover {
    color: green;
}
input {
    cursor: pointer;
}
input:focus, button:focus, select:focus  {
    outline: none;
}
.margin {
    margin-top: 20px;
}
.spisok {
padding-left: 0;
}
.punkt {
  padding-bottom: 10px;
  display: table;
}
button {
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}
button:hover {
    opacity: 0.8;
}
select {
    cursor: pointer;
}
.kriteryi {
    margin-top: 20px;
    padding: 0, 10px, 10px, 10px;
    
}
.table_education {
    border: 1px solid black;
    border-spacing: 0px;
    margin-top: 20px;
}
td, tr, th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
tr:hover {
    background-color: rgba(109, 99, 57, 0.5);
}